<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/styleindex.css">
</head>

<body>
    <div class="container" onclick="">
        <form action="/detail" method="POST">
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="center">
                <h2>Login</h2>
                <input type="name" name="Username" id="Username" placeholder=" Your name" required>
                <input type="email" name="email" id="email" placeholder=" Email id">
                <button class="btn-grad" type="submit">Login</button>
                <h2>&nbsp;</h2>
            </div>
        </form>
        <div class="title">
            <h1>Snapulse</h1>
            <p>A web app to predict your<br>
                chances of having a heart attack</p>
        </div>
    </div>

</body>

</html>